// table {
//     width: 100%;
//   }
  
//   tr.example-detail-row {
//     height: 0;
//   }
  
//   tr.example-element-row:not(.example-expanded-row):hover {
//     background: #f5f5f5;
//   }
  
//   tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
//   }
  
//   .example-element-row td {
//     border-bottom-width: 0;
//   }
  
//   .example-element-detail {
//     overflow: hidden;
//     display: flex;
//   }
  
//   .example-element-diagram {
//     min-width: 80px;
//     border: 2px solid black;
//     padding: 8px;
//     font-weight: lighter;
//     margin: 8px 0;
//     height: 104px;
//   }
  
//   .example-element-symbol {
//     font-weight: bold;
//     font-size: 40px;
//     line-height: normal;
//   }
  
//   .example-element-description {
//     padding: 16px;
//   }
  
//   .example-element-description-attribution {
//     opacity: 0.5;
//   }
  agm-map {
    height: 97%;
    width: 97%;
  }
  ol{
    display: inline;
  }
  li{
    display: inline;
  }
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .wrapper
  {
    overflow: auto;
  }
  div{
    background-color: white;
  }
  mat-card{
    background-color: rgb(218, 213, 213)
  }
  ol,li{
    display: inline;
  }