<div class="home-container">
  <h2 class="home-header ">
    Schedule Lists
  </h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee. </th>
        <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status === 'false'; else complete">
            <mat-chip color="primary" selected>Completed</mat-chip>
          </div>
          <ng-template #complete>
            <mat-chip color="accent" selected>Not Completed</mat-chip>
          </ng-template>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="detail($event, element.schedule)">Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>