table {
    width: 100%;
}

.home-container {
    min-width: 70%;
    max-width: 90%;
    width: 90%;
    margin: auto;
}
.home-header {
    margin: 20x
}

.mat-chip{
    border-radius: 10px;
    padding: 5px
}
