<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" >
<div class="example-container">
    <h2>Employee Information</h2>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="First name" formControlName="firstName" name="firstName" required>
      <mat-error *ngIf="invalidFirstName()">Invalid FirstName.</mat-error>
      </mat-form-field>
  </td>
    <td>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Long Last Name That Will Be Truncated" formControlName="lastName" name="lastName">
      <mat-error *ngIf="invalidLastName()">Invalid LastName.</mat-error>
    </mat-form-field>
  </td>
  </tr>
</table>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="address" formControlName="address" name="address">1600 Amphitheatre Pkwy</textarea>
      <mat-error *ngIf="invalidAddress()">Invalid address.</mat-error>
    </mat-form-field>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" formControlName="city" name="city">
      <mat-error *ngIf="invalidCity()">Invalid City.</mat-error>
    </mat-form-field>
  </td>
    <td>
      <mat-form-field class="example-full-width" >
      <input matInput placeholder="State" formControlName="state" name="state">
   </mat-form-field>
  </td>
    <td>
      <mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" formControlName="postalCode" name="postalCode" placeholder="Postal Code" value="94043">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
            <mat-error *ngIf="invalidPostalCode()">Invalid postalCode.</mat-error>
    </mat-form-field></td>
  </tr></table>

  <mat-form-field>
    <mat-select placeholder="Job Title" formControlName="jobTitle">
      <mat-option value="option">Job</mat-option>
      <mat-option value="option">Welder</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="phoneNumber" type="number" formControlName="phone" name="phoneNumber">
    <mat-error *ngIf="invalidPhoneNumber()">Invalid PhoneNumber.</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="email" formControlName="email" name="email" required>
      <mat-error *ngIf="invalidEmail()">Invalid email address.</mat-error>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary">Register</button>
    <button mat-raised-button type="reset" color="primary">Clear</button>
  </mat-card-actions>
</div>
</form> 
