<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>OffsiteTracking</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-button (click)='showEmployee()'>Employee Information</button>
      <button mat-button (click)='showSchedule()'>Schedule</button>
      <button mat-button (click)='showMySchedule()'>My Schedule</button>
      <button mat-button class="logout" (click)='showMyLogout()'>Logout</button>    
    
 
  </mat-toolbar-row>
   </mat-toolbar>
<router-outlet></router-outlet>
