<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="FirstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="LastName">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Job</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="PhoneNumber"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="email"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Address"></textarea>
  </mat-form-field>
</div>
  <button mat-button type="submit" color="primary">Primary</button>
  <button mat-button type="reset" color="primary">Primary</button>
