<div id="wrapper">
  <div id="left">
    <ul>
      <li>
        <h2>GPS Location</h2>
      </li>
      <li>
        <h4>Destination: {{place}}</h4>
      </li>
      <li>
        <h4>Starting Time: {{checkindate}}</h4>
      </li>
    </ul>

    <button (click)="CheckIn()">please CheckIn</button>

    <ul *ngIf="errorValidation" >
         <h4>Your Position</h4>
      <li> <h4>Destination:{{Information.distination}}</h4>  </li>
      <li> <h5>Current Location:{{Information.origin}}</h5>   </li>
      <li> <h5>Distance from Destination:{{Information.distance}}</h5>   </li>
      <li><h5>Duration to reach:{{Information.duration}}</h5>  </li>
    </ul>
    <mat-error>{{Information.warning}}</mat-error>
    <br>
    
    
    <button (click)="sendToMySchedule()" class="btn waves-effect waves-light" *ngIf="aftercheck" >Next Schedule
    <i class="material-icons right">send</i>
  </button>
  </div>
  <div id="right">

    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-direction [origin]="origin" [destination]="destination">
        <agm-info-window>
          <h3>Howdy</h3>
          <p>Here I am</p>
        </agm-info-window>
      </agm-direction>
    </agm-map>

  </div>
</div>